# This is an example file. Create a terraform.tfvars file and populate it with your values.
# ------------------------------------------------------------------------------------

# project_id = "death-star-platform-666"
# region     = "us-central1"
